<!DOCTYPE html>
<html>

  <head>
 <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>  
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    
    <!-- CSS Files comes here -->
    <link href="/css/bootstrap.css" rel="stylesheet" media="screen">
    <link href="/css/style.css" rel="stylesheet" media="screen">
    <link href="/css/animate.css" rel="stylesheet" media="screen">
    <link href="/css/owl.carousel.css" rel="stylesheet" media="screen">
    <link href="/css/owl.theme.css" rel="stylesheet" media="screen">
    <link href="/css/nivo-lightbox.css" rel="stylesheet" media="screen">
    <link href="/css/nivo_lightbox_themes/default/default.css" rel="stylesheet" media="screen">
    <link href="/css/colors/green.css" rel="stylesheet" media="screen">
    <link href="/css/responsive.css" rel="stylesheet" media="screen">
    
    <!-- Google fonts -->
    <link href="http://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,600,700,900,200italic,300italic,400italic,600italic,700italic,900italic" rel="stylesheet" type="text/css">
    
    <meta charset="utf-8">
    <title>#ink</title>

    <meta name="viewport" content="width=device-width,  minimum-scale=1,  maximum-scale=1"/>
    <meta name="description" content="Stop cyber-bullying"/>
    <!-- <meta name="keywords" content="pluvio, umbrella, best, updgraded, ultimate umbrella"/> -->
    <meta name="author" content="Arjun Raj Jain"/>

    <!-- Facebook sharing -->
    <meta property="og:site_name" content="#ink"/>    
    <meta property="og:title" content="The internet is written in ink."/>
    <meta property="og:description" content="Stop cyber-bullying."/>
    <!-- end Facebook -->
    <!-- <meta name="google-site-verification" content="4glpVqTnhKgiAmCYJkVmwgaccFWaLh7OeUaXERCZXbI" /> -->
    <!-- <link rel="icon" type="image/png" href="img/umbrella.png"/>  -->
    <link href='http://fonts.googleapis.com/css?family=Righteous' rel='stylesheet' type='text/css'>
    <!-- Start of Async HubSpot Analytics Code -->
      <script type="text/javascript">
     //   (function(d,s,i,r) {
     //     if (d.getElementById(i)){return;}
     //     var n=d.createElement(s),e=d.getElementsByTagName(s)[0];
     //     n.id=i;n.src='//js.hs-analytics.net/analytics/'+(Math.ceil(new Date()/r)*r)+'/474652.js';
     //     e.parentNode.insertBefore(n, e);
     //   })(document,"script","hs-analytics",300000);
     </script>
<!-- End of Async HubSpot Analytics Code -->

  </head>

  

  <body>

    <!--###############################-->
    <!--PRELOADER #####################-->
    <!--###############################-->
    
    <div id="preloader">
        <div id="status">
            <div class="spinner">
                <!-- <img src="img/logo.png"/ style="height:200px;width:200px;">  -->
                <div class="bounce1"></div>
                <div class="bounce2"></div>
                <div class="bounce3"></div>
            </div>
        </div>
    </div>


    <!--###############################-->
    <!--HOME ##########################-->
    <!--###############################-->

    <section id="home">
    <div class="container">
        <div class="row">
            <div id="homescreen" class="col-sm-10 col-sm-offset-1 col-md-10 col-md-offset-1 col-lg-10 col-lg-offset-1">
                 <div id="logo"><a href="#home"></a>
                 </div>
                 <div id="logo_header"><h3 style="color:black;line-height:100px;">the internet is written in ink*</h3></div><br>
                 <div id="slogan"><h1 style="color:black;">*or why you should stop cyber-bullying</h1></div>
                 
                 <img src="/img/pen.png" class="img-responsive" id="home_image" style="height:300px;" alt="img">
            </div> <div class="clearfix"></div>
        </div>
    </div>
    </section>


    <!--###############################-->
    <!--Features 1 ####################-->
    <!--###############################-->
    
    <section id="features_1">
        <div class="container">
            <div class="row">
                <div class="col-sm-6 col-md-6  col-lg-6" >
                    <img src="http://images.mapsofworld.com/around-the-world/snapchat-hacked.png" style='margin: 0 auto' class="img-responsive image_back" id="" alt="img">
                    <br>
                    <img src="http://www.trbimg.com/img-54358d01/turbine/mc-c-pennridge-yik-yak-user-arrested-school-threat-20141008" class="img-responsive image_back" alt="img">
                </div>
                
                <div class="col-sm-6 col-md-6 col-lg-6" id="features_1_content">
                    <h2 style="text-align:center;">"Anonymous Apps" are not anonymous</h2>
                    <p style="text-align:center;"> Yik Yak + Snapchat are not ensuring your security</p>
                    <div class="feature">
                        <svg viewBox="0 0 32 32" class="feature_icon">
                            <use xlink:href="#ribbon"></use></svg>
                        <div>
                            <h4>Snapchat has been hacked multiple times and even complies with the government.</h4>
                            <p>The government has the right to obtain your snapchats and communications <b>without your permission</b>.</p>
                        </div>
                    </div>
                    
                    <div class="feature">
                        <svg viewBox="0 0 32 32" class="feature_icon">
                            <use xlink:href="#rotate"></use></svg>
                        <div>
                            <h4>Yik Yak is legally liable to hand over sensitive information.</h4>
                            <p>"In Mobile County, Ala., the <b>16-year-old and 14-year-old</b> who made threats about a campus shooting on Yik Yak have been <b>arrested</b>. Authorities were able to track down the youth after Yik Yak shared location data collected by the app. Yes, location data. In other words, tell your kids that if they own a mobile device they should know this: <b>They can run, but they can't hide</b>. Every digital device has an IP address that allows for it to be tracked."</p>
                        </div>
                    </div>
                    
                </div>
                
                
                

            </div>
            
        </div>
        
    </section>
    

    <!--###############################-->
    <!--Features 2 ####################-->
    <!--###############################-->

    <section id="features_2">
        <div class="container">
            <div class="row">
                
                <div class="col-sm-6 col-md-6 col-lg-6" id="features_2_content">
                    <h2 style="text-align:center;">Recruiters are looking at <b>your</b> data</h2>
                    <p style="text-align:center;"> Your future depends on your online presence</p>
                    <div class="feature">
                        <svg viewBox="0 0 32 32" class="feature_icon">
                            <use xlink:href="#ribbon"></use></svg>
                        <div>
                            <h4>Colleges and Employers are increasingly using your social media profiles to help them understand who you are.</h4>
                            <p>College have rejected <b>16%</b> of applicants based on their social Media Profiles. </p>
                        </div>
                    </div>
                    <div class="feature">
                        <svg viewBox="0 0 32 32" class="feature_icon">
                            <use xlink:href="#ribbon"></use></svg>
                        <div>
                            <h4>But what if I change my name?</h4>
                            <p>Facebook and other companies are coming up with facial analysis algorithms and methods to identify people. They've already reached an accuracy of <b>97.35%</b></p>
                        </div>
                    </div>

                    
                </div>
                
                
                
                <div class="col-sm-6 col-md-6  col-lg-6" >
                    <img src="/img/job.png" style='margin: 0 auto' class="img-responsive image_back" id="" alt="img">
                    </br>
                    <img src="/img/55.png" class="img-responsive image_back" id="features2b_image" alt="img">
                </div>

            </div>
            
        </div>
        
    </section>

        <section id="features_1">
        <div class="container">
            <div class="row">
                
                <div class="col-sm-6 col-md-6 col-lg-6" id="features_3_content">
                    <h2>Bullying is going to going to come back to bite you. </h2>
                    <p> Be careful of what you say online. </p>
                  
                </div>
                
            </div>
            
        </div>
        
    </section>
    
    
    <!--###############################-->
    <!--Newsletter and Footer #########-->
    <!--###############################-->
    
    <section id="footer">
        <div class="container">
            <div class="row" id="newsletter">
                <div class="col-sm-6 col-sm-offset-3 col-md-6 col-md-offset-3 col-lg-6 col-lg-offset-3" >
                    
                    <h2>Spread the word</h2>
                    <h5 style='font-size:25px;line-height:25px;'>#theinternetiswritteninink</h5>
                    
            </div>
           
           <div class="row">
               <div class="col-sm-10 col-sm-offset-1 col-md-10 col-md-offset-1 col-lg-10 col-lg-offset-1" id="share">
                   
                   <div id="social_icons">
                       <ul>
                           <li><a href="#"> <img src="http://dtozmh1cq40e6.cloudfront.net/public/facebook.svg"/></li></a>
                           <li><a href="#"><img src="http://dtozmh1cq40e6.cloudfront.net/public/twitter.svg"/> </a></li>
                       </ul>
                   </div>
                   
                   <!-- <p>Copyright &copy; 2015 #theinternetis written in ink</p> -->
     
               </div>
           </div>
           
        </div>
    </section>
    </script>

    <!-- JavaScript plugins comes here -->
    <script src="/js/jquery-2.0.3.min.js"></script>
    <script src="/js/jquery.easing.min.js"></script>
    <script src="/js/jquery.scrollTo.js"></script>
    <script src="/js/jquery.form.js"></script>
    <script src="/js/main.js"></script>
    <script src="/js/retina.js"></script>
    <script src="/js/waypoints.min.js"></script>
    <script src="/js/owl.carousel.min.js"></script>
    <script src="/js/nivo-lightbox.min.js"></script>
    <script>
      console.log(navigator.userAgent);
      var isMobile = {
          Android: function() {
              return /Android/i.test(navigator.userAgent);
          },
          BlackBerry: function() {
              return /BlackBerry/i.test(navigator.userAgent);
          },
          iOS: function() {
              return /iPhone|iPad|iPod/i.test(navigator.userAgent);
          },
          Windows: function() {
              return /IEMobile/i.test(navigator.userAgent);
          },
          any: function() {
              return (isMobile.Android() || isMobile.BlackBerry() || isMobile.iOS() || isMobile.Windows());
          }
      };

     
         // console.log(isMobile.Android());
          console.log(isMobile.iOS());
        if(isMobile.any()) {
          console.log('ye');
          $('#features_3_content').css("text-align","center");
          $("#second").append('<div class="col-sm-6 col-md-6  col-lg-6" ><img src="/img/umbrella.png" class="img-responsive" id="features3a_image" alt="img"></div>');
        }
        else {
          $("#first").append('<div class="col-sm-6 col-md-6  col-lg-6" ><img src="/img/umbrella.png" class="img-responsive" id="features3a_image" alt="img"></div>');
        }
    </script>
  </body>
</html>